{{!-- checks if user is logged in before displaying invoice data --}}
{{#if loggedIn}}
<table>
  <tr>
    <th>Client Name</th>
    <th>Client Id</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  {{!-- displays client data in table format --}}
  {{#each data as |Client|}}
  <tr>
    <td> {{Client.client_name }} </td>
    <td> {{Client.id}} </td>
    <td> {{Client.client_email}} </td>
    <td> {{Client.client_phone}} </td>
    <td> <button type="submit" class="change" id={{Client.id}}><i class="fa fa-edit"></i></button></td>
    <td> <button type="submit" class="del" id={{Client.id}}><i class="fa fa-trash"></i></button></td>
  </tr>
  {{/each}}
</table>

{{!-- edit client form, is displayed only when edit icon is clicked using css style (hide) --}}

<div class="col-md-6" id="hide">
  <h3>Edit Client</h3>
  <form class="form-group">
      <div class="form-group">
    <label> <h5>Client Id: <span id="edit-id"> </span></h5> </label>
  </div>
  <div class="form-group">
    <label> Client Name:</label>
    <input name="client_name" id="edit-name" class="form-input" type="text" />

  </div>
  <div class="form-group">
    <label>Client Email:</label>
    <input name="client_email" id="edit-email" class="form-input" type="text" />
  </div>
  <div class="form-group">
    <label>Client Phone:</label>
    <input name="phone" id="edit-phone" class="form-input" type="text" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" onclick="updateClient()">Update</button>
  </div>
  </form>
</div>

{{else}}
<p>you must be logged in to view client</p>
{{/if}}



<script src="/js/client.js"></script>