{{!-- checks if user is logged in before displaying invoice data --}}
{{#if loggedIn}}
<h2>Invoice Data</h2>
<table>
  <tr>
    <th>Client Name</th>
    <th>Invoice Number</th>
    <th>Amount Due</th>
    <th>Due Date</th>
    <th>Memo</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  {{!-- displays invoice data in table format --}}
  {{#each allInvoices as |Invoice|}}
  <tr>
    <td> {{client.client_name }} </td>
    <td> {{ Invoice.invoice_number}}</td>
    <td> {{Invoice.amount}} </td>
    <td> {{Invoice.due_date}} </td>
    <td> {{Invoice.memo}} </td>
    <td> <button type="submit" class="change" id={{Invoice.invoice_number}}><i class="fa fa-edit"></i></button></td>
    <td> <button type="submit" class="del" id={{Invoice.invoice_number}}><i class="fa fa-trash"></i></button></td>
  </tr>
  {{/each}}
</table>

{{!-- edit invoice form, is displayed only when edit icon is clicked using css style (hide) --}}
<div class="col-md-6" id="hide">
  <h3>Edit Invoice</h3>
  <form class="form-group">
  <div class="form-group">
    <label><h5> Invoice Number: <span id="edit-invoice-num"> </span> </h5></label>
  </div>
  <div class="form-group">
    <label> Amount</label>
    <input name="amount" id="edit-amt" class="form-input" type="text" />

  </div>
  <div class="form-group">
    <label>Due_Date:</label>
    <input name="due_date" id="edit-due-date" class="form-input" type="text" />
  </div>
  <div class="form-group">
    <label>Memo:</label>
    <input name="memo" id="edit-memo" class="form-input" type="text" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" onclick="updateInvoice()">Update</button>
  </div>
  
  </form>
</div>

{{else}}
<p>You must Login to view Invoice</p>
{{/if}}


<script src="/js/invoice.js"></script>