<body>

    <div class="container">
        <div class="brand-section">
            <div class="row">
                <div class="col-6">
                    <h1 class="text-white">INVOICE</h1>
                </div>
                <div class="col-6">
                    <div class="company-details">
                        <h4 class="text-white">Client Name - {{users.client_name}}</h4>
                        <p class="text-white">Client Id - {{users.id}}</p>
                        <p class="text-white">Client Email - {{users.client_email}}</p>
                        <p class="text-white">Client Phone - {{users.client_phone}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-section">
            <div class="row">
                <div class="col-6">
                    <h4 class="heading">Invoice Tracking Number- {{voice.invoice_number}}</h4>
                    <h4 class="sub-heading">Amount - {{voice.amount}}</h4>
                    <p class="sub-heading">Due Date - {{voice.due_date}}  </p>
                    
                </div>
            </div>
        </div>

       
        </div>      
    
</body>