

<div class="col-md-6">
    <h2>Edit Invoice</h2>

    <form  action="/api/invoices/edit/{{invDetail.invoice_number}}" method="post">
      <div class="form-group">
        <label > Invoice Number: {{invDetail.invoice_number}}</label>
     </div>
      <div class="form-group">
        <label> Amount</label>
        <input name="amount" class="form-input" type="text" value={{invDetail.amount}} >
      </div>
      <div class="form-group">
       <label>Due_Date:</label> 
        <input name="due_date" class="form-input" type="text" value={{invDetail.due_date}}> 
      </div>
      <div class="form-group">
       <label>Memo:</label> 
        <input name="memo" class="form-input" type="text" value={{invDetail.memo}}> 
      </div>
      <div class="form-group">
        <button class="" type="submit">Update</button>
      </div>
    </form>

  </div>